@import url("https://fonts.googleapis.com/css?family=Montserrat:400,400i,700");


#map {
  float: left;
  width: 80%;
  height: 100%;
  min-height: 65vh;
  margin-left: 10px;
  margin-right: 10px;
}

fieldset {
  margin-top: 20px;
}

.pure-form fieldset {
  margin: 10px 10px 10px 10px;
  padding: 0.35em 0 0.75em;
  border: 0;
  display: flex;
}
.fontSize {
  text-align: center;
  font-weight: bolder;
  font-size: x-large;
}
#titleFont {
  font-size: 50px;
}

.pure-menu-link {
  color: black;
  background-color: gold;
}
.card {
  display: contents;
}
.image {
  width: 175px;
  height: 175px;
}
.media {
  display: block;
}
